@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200");

body {
  background-image: url("smarthome.jpg");
  background-size: cover;
  /* -webkit-animation: slidein 100s;
  animation: slidein 100s; */

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1 {
  text-align: center;
  color: rgb(229, 219, 219);
  font-family: "Source Code Pro", monospace;
  text-transform: uppercase;
}

.push-button {
  padding: 20px 50px; /* Kích thước của nút */
  background-color: #e8dc2f; /* Màu nền của nút */
  color: #000000; /* Màu chữ của nút */
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 20px; 
  /* background-image: url("icon.png"); */
}

.button-icon {
  width: 20px; /* Kích thước của biểu tượng */
  height: 20px;
  margin-right: 5px; /* Khoảng cách giữa biểu tượng và chữ */
  vertical-align: middle;
  
}


/*.card-header {
  background-color: rgba(120, 60, 60, 0.614);
}*/
#container {
  border-radius: 8px;
}
#text {
  text-align: center;
}
#data_lux_1 {
  font-size: 19px;
}
#data_lux_2 {
  font-size: 19px;
}
